{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Contato</title>
    {% bootstrap_css %}
</head>
<body>
    <div class="container">
        <H1>Contato</H1>
        {% bootstrap_messages %}

        <form action="{% url 'contato' %}" method="post" class="form" autocomplete="off">
            <!-- Sem o csrf nunca será válido -->
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">Enviar mensagem</button>
            {% endbuttons %}
        </form>
    </div>

{% bootstrap_javascript jquery='full' %}
</body>
</html>