dj-database-url==0.5.0
dj-static==0.0.6
Django==2.2.13
django-bootstrap4==0.0.8
django-stdimage==5.0.0
gunicorn==19.9.0
mysql==0.0.2
mysqlclient==1.4.6
Pillow==7.0.0
progressbar2==3.47.0
psycopg2-binary==2.8.3
PyMySQL==0.9.3
python-utils==2.3.0
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
static3==0.7.0
